---
layout: home
title: BeyondClick Blog
---
<h1>{{ page.title }}</h1>

<ul class="posts">
  {% for post in site.posts %}
    <li class="post">
      <h3><a href="{{ post.url }}" class="anchor">{{ post.title }}</a></h3>
      <p>{{ post.date | date_to_string }} | <a href="{{ post.url }}#disqus_thread"></a></p>
      {{ post.excerpt }}
      <p class="tags">
        {{ post.tags | array_to_sentence_string }}
      </p>
    </li>
  {% endfor %}
</ul>

{% include comments_providers/disqus module="count" %}
