.post {
  list-style: none;
  border: 1px solid #000000;
  border-radius: 1px;
  border-radius: 3px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
}

section.post .tags {
  float: right;
}
