.post {
  list-style: none;
  border: 1px solid #000000;
  border-radius: 1px;
  border-radius: 3px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
}

section.post div.meta {
  display: inline-block;
  width: 100%;
}

section.post .meta .author {
  width: 50%;
  float: left;
  display: inline;
}
section.post .meta .tags {
  width: 50%;
  float: right;
  display: inline;
}
