/* Simple Google Search */
.simple-google-search fieldset {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.simple-google-search.form-item, h2.element-invisible.simple-google-search {
  margin-top: 0;
  margin-bottom: 0;
}

.simple-google-search fieldset input.search{
  width: 100%;
}
