<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="google-site-verification" content="SRAiSbmFtw6d_W_FYzKbjGZv8a5hcMgIeTVzqH42ZUs" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} — Feed" href="{{ site.url }}/rss.xml" />
    <link rel="author" href="https://plus.google.com/+AntonioCarlosdaGraçaMotaDurãodeSouza?rel=author" />

    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/base.css" />
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/{{ stylesheet }}.css" />
    {% endfor %}
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="wrapper">

      {{ content }}

      <footer>
        <p><small>
          <a href="https://plus.google.com/+AntonioCarlosdaGra%C3%A7aMotaDur%C3%A3odeSouza?rel=author">Google</a> |
          <a href="https://twitter.com/acdesouza">Twitter</a> |
          <a href="https://github.com/acdesouza">Github</a> |
          <a href="http://br.linkedin.com/in/acdesouza">LinkedIn</a>
        </small></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    {% include analytics-providers/google %}
    {% include search-providers/google_cse.html %}
  </body>
</html>

