<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>


    <link rel="stylesheet" href="{{ site.url }}/stylesheets/base.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/home.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/post.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url }}/">BeyondClick</a></h1>
        <p>Desenvolvimento de sistemas além do Click…</p>
        <nav>
          <ul>
            <li><a href="{{ site.url }}/">Blog</a></li>
            <li><a href="{{ site.url }}/about">About</a></li>
          </ul>
        </nav>
        <gcse:searchbox></gcse:searchbox>
      </header>

      <section>
        <gcse:searchresults></gcse:searchresults>
        {{ content }}
      </section>

      <footer>
        <p><small>
          <a href="https://github.com/acdesouza" target="_github">Github</a> |
          <a href="https://twitter.com/acdesouza" target="_twitter">Twitter</a> |
          <a href="http://br.linkedin.com/in/acdesouza" target="_linkedin">LinkedIn</a>
        </small></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    {% include analytics-providers/google %}
    {% include search-providers/google_cse.html %}
  </body>
</html>
