---
layout: base
stylesheets:
- home
---
<header>
  <h1><a href="{{ site.url }}/">BeyondClick</a></h1>
  <p>Desenvolvimento de sistemas além do Click…</p>
  <p itemscope itemtype="http://schema.org/Person">
    by <span itemprop="name">Antonio Carlos de Souza</span>
  </p>
  <nav>
    <ul>
      <li><a href="{{ site.url }}/">Blog</a></li>
      <li><a href="{{ site.url }}/about">About</a></li>
    </ul>
  </nav>
  <gcse:searchbox></gcse:searchbox>
</header>

<section>
  <gcse:searchresults></gcse:searchresults>
  {{ content }}
</section>
