---
layout: base
comments: true
---
<header>
  <h1><a href="{{ site.url }}/">BeyondClick</a></h1>
  <p>Desenvolvimento de sistemas além do Click…</p>
</header>

<section class="post">
  <h1>{{ page.title }}</h1>
  <div class="meta">
    <p class="author">
      {{ page.date | date: "%d %b %Y"}} &#8226;
      {{ site.author }}
    </p>
    {% if page.tags %}
    <p class="tags">
      {{ page.tags | array_to_sentence_string }}
    </p>
    {% endif %}
  </div>
  <hr />

  {{ content }}
</section>

<section class="comments">
  {% if page.comments %}
    <div id="disqus_thread"></div>
    {% include comments_providers/disqus module="embed" %}
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</section>
