---
layout: base
comments: true
stylesheets:
- post
---
<header>
  <h1><a href="{{ site.url }}/">BeyondClick</a></h1>
  <p>Desenvolvimento de sistemas além do Click…</p>
</header>

<section class="post" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name">{{ page.title }}</h1>
  <div class="meta">
    <span itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d"}}">{{ page.date | date: "%d %b %Y"}}</span> &#8226;
    By <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ site.author }}</span>
      </span>
    {% if page.tags %}
    <span class="tags" itemprop="keywords">
      {{ page.tags | array_to_sentence_string }}
    </span>
    {% endif %}
  </div>
  <hr />

  <div class="post-body" itemprop="articleBody">
    {{ content }}
  </div>
</section>

<section class="mentions">
  {% include webmention-provider/webmention-heroku %}
</section>

<section class="comments">
  {% if page.comments %}
    <div id="disqus_thread"></div>
    {% include comments_providers/disqus module="embed" %}
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</section>
